{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="utf8">
    <title>Stats Page</title>
</head>
<div class="asfasdf">
    <div class="trol"><article id="statistic" align="center"><h4><strong>Statistic</strong></h4></article>
        <div class="container-fluid">
            <div class="row">
                <h1 align="center"><img src="http://cdn.klimg.com/dream.co.id/resources/news/2018/01/30/76299/664xauto-soal-matematika-kambing-dan-domba-tapi-minta-jawaban-aneh-180130i.jpg" alt = "photo"/> <strong>{{ nama }}</strong></h1>
            </div>
            <div class="row">
                <div align="center" class="col s6"><p><strong>Friends</strong>&emsp;{{ friend_count }} People</p></div>
                <div align="center" class="col s6"><p><strong>Feed</strong>&emsp;{{ posts_count }} Post</p></div>
            </div>
            <div class="card-panel blue">
                {% if latest_status %}
                <div class="col s12" id="status" align="center">
                    <p><img src="http://cdn.klimg.com/dream.co.id/resources/news/2018/01/30/76299/664xauto-soal-matematika-kambing-dan-domba-tapi-minta-jawaban-aneh-180130i.jpg" alt = "photo" height="50" style="border-radius:50%;"/> <strong>{{ nama }}</strong></p>
                    <div class="card-panel blue darken-2">
                    <p>{{ latest_status.new_status }}</p>
                    <br>
                    <p><i>{{ latest_status.created_date }}</i></p>
                </div>
                </div>
                    {% else %}
                    <div class="alert alert-danger text-center">
                        <strong>Oops!</strong> There's no status yet.
                    </div>
                    {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}