{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<h1 class="main-title">UPDATE STATUS</h1>
<hr/>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'Status Page:add_status' %}">
            {% csrf_token %}
            {{ status_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Post">
            <br>
        </form>
    </div>
</section>
<section name="status" id="status">
    <div class="container">
        <div class="flex">
            {% if status %}
                {% for data in status reversed %}
                    <div class="flex-item">
                        <div class="post-status">
                            <div class="to-do-list-title">
                                {{data.new_status}}
                            </div>
                            <div class="status-date-added">
                                {{data.created_date}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Status tidak bisa koosng!
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}        
