{% extends "base.html" %}

{% block content %}
	<div class="container text-center" id="profile-page" style="margin-top: 125px;">
		<div class = "left_top">
			<h4 style="text-align:left;">Profile</h4>
		</div>
			<img class = "img-circle" src ="http://cdn.klimg.com/dream.co.id/resources/news/2018/01/30/76299/664xauto-soal-matematika-kambing-dan-domba-tapi-minta-jawaban-aneh-180130i.jpg" alt = "Kambingg">
			
			<h3 align = "center" ><strong><strong>{{ name }}</strong></strong></h3>

				<table align = "center" style="text-align: center">
				<tr>
					<td align = "left"><h4>Birthday</h4></td>
					<td align = "left"><h4>{{ Birthday }}</h4></td>
				</tr>
				<tr>
					<td align = "left"><h4>Gender</h4></td>
					<td align = "left"><h4>{{ Gender }}</h4></td>
				</tr>
				<tr>
					<td align = "left"><h4>Expertise</h4></td>
					<td align = "left">
						<h4>
						<ul>
							{% for ii in expertise %}
								<li class="li1">{{ ii }}</li>
							{% endfor %}
							</h4>
						</ul>
					</td>
					
				</tr>
				<tr>
					<td align = "left"><h4>Description</h4></td>
					<td align = "left"><h4>{{  Description }}</h></td>
				</tr>
				<tr>
					<td align = "left"><h4>Email</h4></td>
					<td align = "left"><h4>{{ Email }}</h4></td>
				</tr> 
				</table>
			</div>
}
	

{% endblock %}