{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add_friends.css' %}">
<link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<section name="add-friend" id="add-friend">
   <div class="container">
        <h4 class="h4-add-friend">Add Friend</h4>
        <form id="form" method="POST" action="{% url 'Friends Page:add_friend' %}">
                {% csrf_token %}
                {% for field in add_friends_form %}
                <div class="field_wrapper">
                    <table class="table table-borderless table-form">
                        <tr>
                            <td class="col sm-4">{{field.label}}</td>
                            <td class="col sm-4">{{field}}</td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
            <input id="add_friend" type="submit" class="btn btn-lg btn-block btn-primary" value="Add Friend">
            <br>
        </form>
    </div>
</section>
<section name="added_friend" id="added_friend">
    <div class="container">
        <h4 class="h4-add-friend">List Friend</h4>
        {% if added %}
            <table class="table table-list">
                <thead>
                    <tr>
                        <th> Name </th>
                        <th> URL </th>
                        <th> Time </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        {% for friends in added %}
                            <tr>
                                <th> {{friends.name}} </th>
                                <th><a href="{{friends.url}}">{{friends.url}}</a></th>
                                <th> Added {{friends.added_date|date:"j F Y G:i:s"}} </th>
                                <th>
                                    <div class="remove-friend-list" data-id="{{friends.id}}">
                                        <a href="{% url 'Friends Page:remove_friend' obj_id=friends.id %}" title="remove friend"><i class="fa fa-user-times fa-lg" aria-hidden="true"></i></a>
                                    </div>
                                </th>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> No friends added.
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}
